<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Personas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Personas</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <button class="actionButton" (click)="refresh()">Actualizar</button>
    <button class="actionButton" id="open-modal" (click)="cleanModal()">
      Registrar Campista
    </button>
    <button class="actionButton" [ngClass]="{ disableActionButton: relationMode }" (click)="setRelationMode()">
      {{ relationMode ? "Volver" : "Relacionar Campistas" }}
    </button>
    <input type="text" [(ngModel)]="filterText" placeholder="Filtrar campista" (input)="updateCampist($event)" />
    <div *ngFor="let campist of filteredCampersData" class="camperCard" (click)="selectCampistRelation(campist)">
      <div *ngIf="relationMode === false" class="edit" (click)="setEditOpen(true, campist)">
        <ion-icon name="open-outline"></ion-icon>
      </div>
      <span class="campistLabel">Campista</span>
      <span class="campistName">{{ campist.NAME }}</span>
      <span class="campistDocument"><ion-icon name="id-card-outline"></ion-icon>
        {{ campist.DOCUMENT_TYPE }} {{ campist.DOCUMENT }}</span>
      <span class="campistPhone"><ion-icon name="call"></ion-icon>+57 {{ campist.PHONE }}</span>
      <span class="campistArea">Área de <b>{{ campist.AREA | titlecase }}</b></span>
      <span class="campistHost" *ngIf="campist.INVITED">Invitado de <b>{{ campist.INVITED }}</b></span>
    </div>
  </div>
</ion-content>
<ion-toast #errorToast [message]="alertMessage" [duration]="3000" [icon]="icon"></ion-toast>

<!-- Create Modal -->
<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancelar</ion-button>
        </ion-buttons>
        <ion-title>Registro</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="content-body">
      <form [formGroup]="newUser">
        <label for="name">Nombre</label>
        <input type="text" id="name" placeholder="Nombre Completo" formControlName="name" />
        <label for="type">Tipo de Documento</label>
        <select id="type" formControlName="documentType">
          <option value="">Seleccione el Tipo de Documento</option>
          <option value="CC">Cédula de Ciudadanía</option>
          <option value="TI">Tarjeta de Identidad</option>
          <option value="CE">Cédula de Extranjería</option>
          <option value="PP">Pasaporte</option>
          <option value="RC">Registro Civil</option>
          <option value="PPT">Permiso de Protección Temporal</option>
        </select>
        <label for="document">Número de Documento</label>
        <input type="number" id="document" placeholder="Ingrese el Número de Documento" formControlName="document" />
        <label for="phone">Número de celular (<ion-icon name="logo-whatsapp"></ion-icon>Whatsapp)</label>
        <input type="number" id="phone" placeholder="Número de celular" formControlName="phone" />
        <label for="age">Edad</label>
        <input type="date" name="age" id="age" placeholder="Edad" formControlName="birth" />
        <label for="area">Área</label>
        <select id="area" formControlName="area">
          <option value="">Seleccione el Área</option>
          <option value="ALB">Alabanza</option>
          <option value="CRE">Crecimiento</option>
          <option value="CON">Consolidación</option>
          <option value="DIA">Diaconado</option>
          <option value="GDP">Granja de Papá</option>
          <option value="INT">Intercesión</option>
          <option value="JCR">Jóvenes</option>
          <option value="MAT">Matrimonios</option>
          <option value="PRO">Protemplo</option>
          <option value="AST">Asistentes</option>
        </select>
        <label for="guestBy">Invitado por</label>
        <select id="guestBy" formControlName="guest">
          <option [value]="0">Nadie</option>
          <option [value]="campist.ID" *ngFor="let campist of campersData">
            {{ campist.NAME }}
          </option>
        </select>
        <label>
          <ion-checkbox formControlName="transport">Transporte (Bus)</ion-checkbox>
        </label>
        <ion-checkbox formControlName="agreeTerms">Está de acuerdo con los&nbsp;<b (click)="openTerms()">términos y
            condiciones</b></ion-checkbox>
      </form>
    </div>
  </ng-template>
</ion-modal>

<!-- Relation Modal -->
<ion-modal [isOpen]="relationModalOpen" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="setRelationOpen(false)">Cancelar</ion-button>
        </ion-buttons>
        <ion-title>Relacionar</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="updateRelations(currentCampist.ID)" [strong]="true">Confirmar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="content-body">
      <form [formGroup]="newUser">
        <ion-searchbar placeholder="Buscar Campista" [debounce]="200"></ion-searchbar>
        <div class="list">
          <ion-list>
            <ion-item *ngFor="let person of campersData">
              <ion-checkbox labelPlacement="start" [disabled]="!enableRelations"
                [checked]="checkedRelations.includes(person.ID)" (ionChange)="changeRelationCheck($event, person.ID)">{{
                person.NAME }}</ion-checkbox>
            </ion-item>
          </ion-list>
        </div>
      </form>
    </div>
  </ng-template>
</ion-modal>

<!-- Edit modal -->
<ion-modal [isOpen]="editModalOpen" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="setEditOpen(false)">Cancelar</ion-button>
        </ion-buttons>
        <ion-title>Editar</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirmEdition()" [strong]="true">Confirmar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="content-body">
      <form [formGroup]="editUser">
        <label for="name">Nombre</label>
        <input type="text" id="name" placeholder="Nombre Completo" formControlName="name" />
        <label for="type">Tipo de Documento</label>
        <select id="type" formControlName="documentType">
          <option value="">Seleccione el Tipo de Documento</option>
          <option value="CC">Cédula de Ciudadanía</option>
          <option value="TI">Tarjeta de Identidad</option>
          <option value="CE">Cédula de Extranjería</option>
          <option value="PP">Pasaporte</option>
          <option value="RC">Registro Civil</option>
          <option value="PPT">Permiso de Protección Temporal</option>
        </select>
        <label for="document">Número de Documento</label>
        <input type="number" id="document" placeholder="Ingrese el Número de Documento" formControlName="document" />
        <label for="phone">Número de celular (<ion-icon name="logo-whatsapp"></ion-icon>Whatsapp)</label>
        <input type="number" id="phone" placeholder="Número de celular" formControlName="phone" />
        <label for="age">Fecha de Nacimiento</label>
        <input type="date" name="age" id="age" placeholder="Edad" formControlName="birth" />
        <label for="area">Área</label>
        <select id="area" formControlName="area">
          <option value="">Seleccione el Área</option>
          <option value="ALB">Alabanza</option>
          <option value="CRE">Crecimiento</option>
          <option value="CON">Consolidación</option>
          <option value="DIA">Diaconado</option>
          <option value="GDP">Granja de Papá</option>
          <option value="INT">Intercesión</option>
          <option value="JCR">Jóvenes</option>
          <option value="MAT">Matrimonios</option>
          <option value="PRO">Protemplo</option>
          <option value="AST">Asistentes</option>
        </select>
        <label *ngIf="
            storeService.userData()[0].ADMIN === 3 ||
            storeService.userData()[0].DOCUMENT === currentCampist.DOCUMENT
          " for="password">Contraseña</label>
        <input *ngIf="
            storeService.userData()[0].ADMIN === 3 ||
            storeService.userData()[0].DOCUMENT === currentCampist.DOCUMENT
          " type="text" id="password" placeholder="Contraseña" formControlName="password" />
        <label>
          <ion-checkbox formControlName="transport">Transporte (Bus)</ion-checkbox>
        </label>
        <h3 *ngIf="storeService.userData()[0].ADMIN === 3">Tipo de Campista</h3>
        <ion-radio-group *ngIf="storeService.userData()[0].ADMIN === 3" formControlName="admin">
          <ion-radio [value]="3" labelPlacement="start">Administrador (Admin3)</ion-radio>
          <ion-radio [value]="2" labelPlacement="start">Líder de Área (Admin2)</ion-radio>
          <ion-radio [value]="1" labelPlacement="start">Soporte (Admin1)</ion-radio>
          <ion-radio [value]="0" labelPlacement="start">Campista</ion-radio>
        </ion-radio-group>
      </form>
    </div>
  </ng-template>
</ion-modal>

<!-- Terms and conditions -->
<ion-modal [isOpen]="termsModalOpen" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Términos y Condiciones</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeTerms()" [strong]="true">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <div class="content-body">
      <div class="terms">
        <section>
          <h6 class="title">Términos y condiciones del Servicio</h6>
          <div>
            <h3>Términos y condiciones</h3>
            <p>
              ¡Bienvenido a Banconexión! Estos términos y condiciones describen
              las reglas y regulaciones para el uso del sitio web de
              Banconexión, ubicado en https://banconexion.vercel.app/. Al
              acceder a este sitio web, asumimos que aceptas estos términos y
              condiciones. No continúes usando Banconexión si no estás de
              acuerdo con todos los términos y condiciones establecidos en esta
              página.
            </p>
            <h3>Cookies</h3>
            <p>
              Una cookie es un archivo de texto que un
              servidor de páginas web coloca en tu disco duro. Las cookies no se
              pueden utilizar para ejecutar programas o enviar virus a tu
              computadora. Las cookies se te asignan de forma exclusiva y solo
              un servidor web en el dominio que emitió la cookie puede leerlas.
              Puedes navegar a través de esta aplicación sin inconvenientes debido a que no utilizamos cookies ni
              propias ni de terceros.
              En el caso de agregar actualizaciones que utilicen estas te será informado con anterioridad.
            </p>
            <h3>Autorización para el tratamiento de datos personales</h3>
            <p>La Iglesia Cristiana Cuadrangular Distrito Andin, identificada con Nit 900.192.109-1 será el Responsable
              del
              tratamiento de datos personales y, en tal virtud, podrá recolectar, almacenar, usar (Incluir las
              operaciones que realizará respecto de la información personal recolectada) para las siguientes
              finalidades:
            </p>
            <ul>
              <li>Efectuar las gestiones pertinentes para tener estadísticas de los asistentes a la congregación y sus
                actividades.</li>
              <li>Efectuar la planificación estratégica correspondiente a cada actividad.</li>
              <li>Contactar al titular de la cuenta vía chat para el envío de información relacionado con su cuenta de
                Banconexión.</li>
              <li>Para invitar via chat/llamada a participar en los diferentes eventos de la congregación.</li>
            </ul>
            <p>Manifiesto que me informaron que en caso de recolección de mi información sensible tengo derecho a
              contestar o no las preguntas que me formulen y a entregar o no los datos solicitados. Entiendo que son
              datos sensibles aquellos que afectan la intimidad del titular o cuyo uso indebido puede generar
              discriminación tales como orientación política, convicciones religiosas o filosóficas.

              Manifiesto que me informaron que los datos sensibles que se recolectarán serán utilizados para las
              siguientes finalidades:
            </p>
            <ul>
              <li>Efectuar las gestiones pertinentes para tener estadísticas de los asistentes a la congregación y sus
                actividades.</li>
              <li>Efectuar la planificación estratégica correspondiente a cada actividad.</li>
              <li>Contactar al titular de la cuenta vía chat para el envío de información relacionado con su cuenta de
                Banconexión.</li>
              <li>Para invitar via chat/llamada a participar en los diferentes eventos de la congregación.</li>
            </ul>
            <h3>Derechos del titular</h3>
            <p>
              Sus derechos como titular del dato son los previstos en la Constitución y en la Ley 1581 de 2012,
              especialmente los siguientes:
            </p>
            <ul>
              <li>Acceder en forma gratuita a los datos proporcionados que hayan sido objeto de tratamiento. </li>
              <li>Solicitar la actualización y rectificación de su información frente a datos parciales, inexactos,
                incompletos, fraccionados, que induzcan a error, o a aquellos cuyo tratamiento esté prohibido o no haya
                sido autorizado. </li>
              <li>Solicitar prueba de la autorización otorgada. </li>
              <li>Presentar ante la Superintendencia de Industria y Comercio (SIC) quejas por infracciones a lo
                dispuesto en la normatividad vigente. </li>
              <li>Revocar la autorización y/o solicitar la supresión del dato, a menos que exista un deber legal o
                contractual que haga imperativo conservar la información. </li>
              <li>Abstenerse de responder las preguntas sobre datos sensibles o sobre datos de las niñas y niños y
                adolescentes.</li>
            </ul>
            <p>Estos derechos los podré ejercer a través de los canales o medios dispuestos por La Iglesia Cristiana
              Cuadrangular en Espíritu y Verdad para la atención al público, el correo electrónico
              iccchapinero&#64;gmail.com,
              para la atención de requerimientos relacionados con el tratamiento de mis datos personales y el ejercicio
              de los derechos mencionados en esta autorización. Por todo lo anterior, he otorgado mi consentimiento a La
              Iglesia Cristiana Cuadrangular en Espíritu y Verdad para que trate mi información personal de acuerdo con
              la Política de Tratamiento de Datos Personales dispuesta por la Iglesia en medio electrónico y que me dio
              a conocer antes de recolectar mis datos personales. Manifiesto que la presente autorización me fue
              solicitada y puesta de presente antes de entregar mis datos y que la suscribo de forma libre y voluntaria
              una vez leída en su totalidad.</p>
            <h3>Licencia</h3>
            <span>A menos que se indique lo contrario, La Iglesia Cristiana
              Cuadrangular Distrito Andino y/o sus licenciantes poseen los derechos de
              propiedad intelectual de todo el material en Banconexión. Todos
              los derechos de propiedad intelectual son reservados. Puedes
              acceder desde Banconexión para tu uso personal sujeto a las
              restricciones establecidas en estos términos y condiciones. No
              debes:
              <ul>
                <li>Copiar o volver a publicar material de Banconexión.</li>
                <li>
                  Vender, alquilar o sublicenciar material de Banconexión.
                </li>
                <li>Reproducir, duplicar o copiar material de Banconexión.</li>
                <li>Redistribuir contenido de Banconexión.</li>
              </ul>
            </span>
          </div>
        </section>
      </div>
    </div>
  </ng-template>
</ion-modal>