<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Personas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Personas</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <button class="actionButton" (click)="refresh()">
      Actualizar
    </button>
        <button class="actionButton" id="open-modal" (click)="cleanModal()">
      Registrar Campista
    </button>
        <div *ngFor="let campist of campersData" class="camperCard" (dblclick)="setEditOpen(true, campist)">
            <div class="edit" (click)="setEditOpen(true, campist)">
                <ion-icon name="open-outline"></ion-icon>
            </div>
            <span class="campistLabel">Campista</span>
            <span class="campistName">{{ campist.NAME }}</span>
            <span class="campistDocument"><ion-icon name="id-card-outline"></ion-icon> {{ campist.DOCUMENT_TYPE }} {{ campist.DOCUMENT }}</span>
            <span class="campistPhone"><ion-icon name="call"></ion-icon>+57 {{ campist.PHONE }}</span>
            <span class="campistArea">Área de <b>{{ campist.AREA | titlecase }}</b></span>
            <span class="campistHost" *ngIf="campist.INVITED">Invitado de <b>{{ campist.INVITED }}</b></span>
        </div>
    </div>
</ion-content>
<ion-toast #errorToast [message]="alertMessage" [duration]="3000" [icon]="icon"></ion-toast>

<ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button (click)="cancel()">Cancelar</ion-button>
                </ion-buttons>
                <ion-title>Registro</ion-title>
                <ion-buttons slot="end">
                    <ion-button (click)="confirm()" [strong]="true">Confirmar</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <div class="content-body">
            <form [formGroup]="newUser">
                <label for="name">Nombre</label>
                <input type="text" id="name" placeholder="Nombre Completo" formControlName="name">
                <label for="type">Tipo de Documento</label>
                <select id="type" formControlName="documentType">
                <option value="">Seleccione el Tipo de Documento</option>
                <option value="CC">Cédula de Ciudadanía</option>
                <option value="TI">Tarjeta de Identidad</option>
                <option value="CE">Cédula de Extranjería</option>
                <option value="PP">Pasaporte</option>
                <option value="PPT">Permiso de Protección Temporal</option>
            </select>
                <label for="document">Número de Documento</label>
                <input type="number" id="document" placeholder="Ingrese el Número de Documento" formControlName="document">
                <label for="phone">Número de celular (<ion-icon name="logo-whatsapp"></ion-icon>Whatsapp)</label>
                <input type="number" id="phone" placeholder="Número de celular" formControlName="phone">
                <label for="age">Edad</label>
                <input type="number" name="age" id="age" placeholder="Edad" formControlName="age">
                <label for="area">Área</label>
                <select id="area" formControlName="area">
                  <option value="">Seleccione el Área</option>
                  <option value="ALB">Alabanza</option>
                  <option value="CRE">Crecimiento</option>
                  <option value="CON">Consolidación</option>
                  <option value="DIA">Diaconado</option>
                  <option value="GDP">Granja de Papá</option>
                  <option value="INT">Intercesión</option>
                  <option value="JCR">Jóvenes</option>
                  <option value="MAT">Matrimonios</option>
                  <option value="PRO">Protemplo</option>
                  <option value="AST">Asistentes</option>
                </select>
                <label for="guestBy">Invitado por</label>
                <select id="guestBy" formControlName="guest">
              <option [value]="0">Nadie</option>
              <option [value]="campist.ID" *ngFor="let campist of campersData">{{ campist.NAME }}</option>
            </select>
                <label>
              <ion-checkbox formControlName="transport">Transporte (Bus)</ion-checkbox>
            </label>
                <ion-checkbox formControlName="agreeTerms">Está de acuerdo con los términos y condiciones</ion-checkbox>
            </form>
            <div class="terms">
                <section>
                    <h6 class="title">Términos y condiciones del Servicio</h6>
                    <div>
                        <h3>Términos y condiciones</h3>
                        <p>¡Bienvenido a Banconexión! Estos términos y condiciones describen las reglas y regulaciones para el uso del sitio web de Banconexión, ubicado en https://banconexion.vercel.app/. Al acceder a este sitio web, asumimos que aceptas
                            estos términos y condiciones. No continúes usando Banconexión si no estás de acuerdo con todos los términos y condiciones establecidos en esta página. </p>
                        <h3>Cookies</h3>
                        <p>El sitio web utiliza cookies para ayudar a personalizar tu experiencia en línea. Al acceder a Banconexión, aceptaste utilizar las cookies necesarias. Una cookie es un archivo de texto que un servidor de páginas web coloca en tu
                            disco duro. Las cookies no se pueden utilizar para ejecutar programas o enviar virus a tu computadora. Las cookies se te asignan de forma exclusiva y solo un servidor web en el dominio que emitió la cookie puede leerlas. Podemos
                            utilizar cookies para recopilar, almacenar y rastrear información con fines estadísticos o de marketing para operar nuestro sitio web. Tienes la capacidad de aceptar o rechazar cookies opcionales. Hay algunas cookies obligatorias
                            que son necesarias para el funcionamiento de nuestro sitio web. Estas cookies no requieren tu consentimiento ya que siempre funcionan. Ten en cuenta que al aceptar las cookies requeridas, también aceptas las cookies de terceros,
                            que podrían usarse a través de servicios proporcionados por terceros si utilizas dichos servicios en nuestro sitio web, por ejemplo, una ventana de visualización de video proporcionada por terceros e integrada en nuestro sitio
                            web.
                        </p>
                        <h3>Licencia</h3>
                        <span>A menos que se indique lo contrario, Iglesia Cristiana Cuadrangular ENEV y/o sus licenciantes poseen los derechos de propiedad intelectual de todo el material en Banconexión. Todos los derechos de propiedad intelectual son reservados.
                            Puedes acceder desde Banconexión para tu uso personal sujeto a las restricciones establecidas en estos términos y condiciones. No debes:
                            <ul>
                                <li>Copiar o volver a publicar material de Banconexión.</li>
                                <li>Vender, alquilar o sublicenciar material de Banconexión.</li>
                                <li>Reproducir, duplicar o copiar material de Banconexión.</li>
                                <li>Redistribuir contenido de Banconexión.</li>
                            </ul>

                            Este acuerdo comenzará en el día de hoy. Partes de este sitio web ofrecen a los usuarios la oportunidad de publicar e intercambiar opiniones e información en determinadas áreas. Iglesia Cristiana Cuadrangular ENEV no filtra, edita, publica ni revisa los
                            comentarios antes de su presencia en el sitio web. Los comentarios no reflejan los puntos de vista ni las opiniones de Iglesia Cristiana Cuadrangular ENEV, sus agentes y/o afiliados. Los comentarios reflejan los puntos de vista
                            y opiniones de la persona que publica. En la medida en que lo permitan las leyes aplicables, Iglesia Cristiana Cuadrangular ENEV no será responsable de los comentarios ni de ninguna responsabilidad, daños o gastos causados
                            o sufridos como resultado de cualquier uso o publicación o apariencia de comentarios en este sitio web. Iglesia Cristiana Cuadrangular ENEV se reserva el derecho de monitorear todos los comentarios y eliminar los que puedan
                            considerarse inapropiados, ofensivos o que incumplan estos Términos y Condiciones. Garantizas y declaras que:

                            <ul>
                                <li>Tienes derecho a publicar comentarios en nuestro sitio web y tienes todas las licencias y consentimientos necesarios para hacerlo; </li>
                                <li>Los comentarios no invaden ningún derecho de propiedad intelectual, incluidos, entre otros, los derechos de autor, patentes o marcas comerciales de terceros; </li>
                                <li>Los comentarios no contienen ningún material difamatorio, calumnioso, ofensivo, indecente o ilegal de otro modo, que sea una invasión de la privacidad.</li>
                                <li>Los comentarios no se utilizarán para solicitar o promover negocios o actividades comerciales personalizadas o presentes o actividades ilegales. </li>
                            </ul>

                            Por la presente, otorgas a Iglesia Cristiana Cuadrangular ENEV una licencia no exclusiva para usar, reproducir, editar y autorizar a otros a usar, reproducir y editar cualquiera de tus comentarios en todas y cada una de las formas, formatos, o medios.
                        </span>

                    </div>
                </section>
            </div>
        </div>
    </ng-template>
</ion-modal>

<ion-modal [isOpen]="editModalOpen" (willDismiss)="onWillDismiss($event)">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button (click)="setEditOpen(false)">Cancelar</ion-button>
                </ion-buttons>
                <ion-title>Editar</ion-title>
                <ion-buttons slot="end">
                    <ion-button (click)="confirmEdition()" [strong]="true">Confirmar</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <div class="content-body">
            <form [formGroup]="editUser">
                <label for="name">Nombre</label>
                <input type="text" id="name" placeholder="Nombre Completo" formControlName="name">
                <label for="type">Tipo de Documento</label>
                <select id="type" formControlName="documentType">
                  <option value="">Seleccione el Tipo de Documento</option>
                  <option value="CC">Cédula de Ciudadanía</option>
                  <option value="TI">Tarjeta de Identidad</option>
                  <option value="CE">Cédula de Extranjería</option>
                  <option value="PP">Pasaporte</option>
                  <option value="PPT">Permiso de Protección Temporal</option>
                </select>
                <label for="document">Número de Documento</label>
                <input type="number" id="document" placeholder="Ingrese el Número de Documento" formControlName="document">
                <label for="phone">Número de celular (<ion-icon name="logo-whatsapp"></ion-icon>Whatsapp)</label>
                <input type="number" id="phone" placeholder="Número de celular" formControlName="phone">
                <label for="age">Edad</label>
                <input type="number" name="age" id="age" placeholder="Edad" formControlName="age">
                <label for="area">Área</label>
                <select id="area" formControlName="area">
                  <option value="">Seleccione el Área</option>
                  <option value="ALB">Alabanza</option>
                  <option value="CRE">Crecimiento</option>
                  <option value="CON">Consolidación</option>
                  <option value="DIA">Diaconado</option>
                  <option value="GDP">Granja de Papá</option>
                  <option value="INT">Intercesión</option>
                  <option value="JCR">Jóvenes</option>
                  <option value="MAT">Matrimonios</option>
                  <option value="PRO">Protemplo</option>
                  <option value="AST">Asistentes</option>
                </select>
                <label>
        <ion-checkbox formControlName="transport">Transporte (Bus)</ion-checkbox>
      </label>
            </form>
        </div>
    </ng-template>
</ion-modal>