#container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px;
    margin-bottom: 44px;
    .actionButton {
        width: 100%;
        padding: 12px;
        font-size: 1.2rem;
        color: white;
        background-color: var(--primary-100);
        border-radius: 8px;
        &:disabled {
            background-color: var(--primary-200);
        }
    }
    .camperCard {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 4px #a0a0a0;
        padding: 12px;
        border-radius: 8px;
        position: relative;
        .edit {
            position: absolute;
            top: 8px;
            right: 8px;
            font-size: 1.2rem;
            color: #a0a0a0;
        }
        .campistLabel {
            font-size: 1rem;
        }
        .campistName {
            font-size: clamp(10px, 5vw, 1.8rem);
            font-family: "InterBold";
            line-height: 2.2rem;
        }
        .campistDocument {
            font-size: 1.1rem;
            display: flex;
            align-items: center;
        }
        .campistPhone {
            display: flex;
            align-items: center;
        }
        .campistArea {
            font-size: 1.1rem;
            b {
                color: var(--primary-100);
            }
        }
        .campistHost {
            margin-bottom: 8px;
            b {
                color: var(--primary-100);
            }
        }
    }
}


.content-body {
    padding: 12px;
    form {
        display: flex;
        flex-direction: column;
        label {
            margin-top: 12px;
        }
        ion-radio-group {
            display: flex;
            flex-direction: column;
            width: fit-content;
            ion-radio {
                display: flex;
                justify-content: flex-start;
            }
        }
    }
    div.terms {
        margin-top: 12px;
        box-sizing: content-box;
        border-radius: 8px;
        box-shadow: 0 0 4px #a0a0a0;
        padding: 6px;
        section {
            height: auto;
            overflow-y: scroll;
            max-height: 30dvh;
            padding: 6px;
            border-radius: 6px;
            h6.title {
                font-family: "InterBold";
                font-size: 1.3rem;
                margin-top: 4px;
            }
        }
    }
}