<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Áreas</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-header collapse="condense">
		<ion-toolbar>
			<ion-title size="large">Áreas</ion-title>
		</ion-toolbar>
	</ion-header>
	<div id="container">
		@if(area !== 'all') {
		<button class="actionButton" (click)="refresh()">Actualizar</button>
		<div *ngFor="let camper of campersData" class="camperCard">
			<section class="camperData">
				<span class="campistLabel">Campista</span>
				<span class="campistName">{{ camper?.NAME | titlecase }}</span>
				<span class="campistDocumentAge">
					{{ camper?.DOCUMENT_TYPE }} {{ camper?.DOCUMENT }} - {{ camper?.AGE }} {{ camper?.AGE === 1 ? "año" : "años"
					}}
				</span>
				<span class="camperArea">
					Área de
					<b>{{ camper?.AREA | titlecase }}</b>
				</span>
				<span class="reached">
					Abonado:&nbsp;
					<b>{{ camper?.BALANCE || 0 | currency:'':'symbol-narrow':'1.0-0':'co'}}</b>
					<b style="color: var(--primary-100); margin-left: 2px">
						({{(camper?.CONFIRMED / camper?.GOAL) | percentPipe }})
					</b>
				</span>
				<span class="reached">
					Por confirmar:&nbsp;
					<b>{{ camper?.BALANCE - camper?.CONFIRMED || 0 | currency:'':'symbol-narrow':'1.0-0':'co' }}</b>
					<b style="color: var(--secondary-100); margin-left: 2px">
						({{((camper?.BALANCE - camper?.CONFIRMED) / camper?.GOAL) | percentPipe }})
					</b>
				</span>
				<span class="reached">
					Meta:&nbsp;
					<b>{{ camper?.GOAL | currency:'CAD':'symbol-narrow':'1.0-0':'co' }}</b>
				</span>
			</section>
			<section class="camperProgress">
				<span class="successPercentage">{{ (camper?.BALANCE / camper?.GOAL) | percent }}</span>
				<pbar [value]="(camper?.CONFIRMED / camper?.GOAL)*100"></pbar>
				<span class="progressLabel">Progreso</span>
			</section>
		</div>
		} @else {
		<div class="camperCard" (click)="goTo('ALB')">
			<section class="camperData">
				<span class="campistName">Alabanza</span>
			</section>
			<section class="camperProgress">
				<span class="successPercentage">ALB</span>
			</section>
		</div>
		<div class="camperCard" (click)="goTo('CRE')">
			<section class="camperData">
				<span class="campistName">Crecimiento (Asistentes)</span>
			</section>
			<section class="camperProgress">
				<span class="successPercentage">CRE</span>
			</section>
		</div>
		<div class="camperCard" (click)="goTo('CON')">
			<section class="camperData">
				<span class="campistName">Consolidación (Visitas)</span>
			</section>
			<section class="camperProgress">
				<span class="successPercentage">CON</span>
			</section>
		</div>
		<div class="camperCard" (click)="goTo('DIA')">
			<section class="camperData">
				<span class="campistName">Diaconado</span>
			</section>
			<section class="camperProgress">
				<span class="successPercentage">DIA</span>
			</section>
		</div>
		<div class="camperCard" (click)="goTo('GDP')">
			<section class="camperData">
				<span class="campistName">Granja de Papá</span>
			</section>
			<section class="camperProgress">
				<span class="successPercentage">GDP</span>
			</section>
		</div>
		<div class="camperCard" (click)="goTo('INT')">
			<section class="camperData">
				<span class="campistName">Intercesión</span>
			</section>
			<section class="camperProgress">
				<span class="successPercentage">INT</span>
			</section>
		</div>
		<div class="camperCard" (click)="goTo('JCR')">
			<section class="camperData">
				<span class="campistName">Jóvenes</span>
			</section>
			<section class="camperProgress">
				<span class="successPercentage">JCR</span>
			</section>
		</div>
		<div class="camperCard" (click)="goTo('MAT')">
			<section class="camperData">
				<span class="campistName">Matrimonios</span>
			</section>
			<section class="camperProgress">
				<span class="successPercentage">MAT</span>
			</section>
		</div>
		<div class="camperCard" (click)="goTo('PRO')">
			<section class="camperData">
				<span class="campistName">Protemplo</span>
			</section>
			<section class="camperProgress">
				<span class="successPercentage">PRO</span>
			</section>
		</div>

		}
	</div>
</ion-content>
<ion-toast #errorToast [message]="alertMessage" [duration]="3000" icon="close-circle-outline"></ion-toast>
