@keyframes fade-in-fwd {
	0% {
		transform: translateZ(-80px);
		opacity: 0;
	}
	100% {
		transform: translateZ(0);
		opacity: 1;
	}
}

div.content {
	display: grid;
	grid-template-rows: repeat(11, auto);
	place-content: center;
	justify-self: center;
	text-align: center;
	height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
	width: 100vmin;
	background-color: var(--bg-100);
	.ad {
		font-size: 1.4rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: #1785f9;
		margin-bottom: 8px;
	}
	img.logo {
		aspect-ratio: 1;
		width: 10rem;
		justify-self: center;
		animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
		animation-delay: 500ms;
	}
	h2.title {
		font-weight: 600;
		font-size: 2.2rem;
		color: var(--text-100);
		margin: 0;
	}
	h3.subtitle {
		font-size: 1.2rem;
		color: #1785f9;
		margin: 0;
	}
	input[type='number'],
	input[type='password'],
	select {
		margin-top: 1rem;
		width: 60vmin;
		max-width: 600px;
		min-width: 220px;
	}
	button.buscar {
		border-radius: 24px;
		width: fit-content;
		padding: 0 32px;
		margin: 12px auto;
		outline: none;
	}
	strong.church {
		font-family: 'InterThin';
		color: #1785f9;
	}
	i.hide {
		visibility: hidden;
	}
	i.show {
		visibility: visible;
	}
}
.version {
	position: absolute;
	bottom: calc(98px + env(safe-area-inset-bottom));
	left: -20px;
	text-align: center;
	transform: rotate(90deg);
	color: #d0d0d0;
	font-size: 12px;
}

i {
	margin-top: 8px;
}

@supports (-webkit-touch-callout: none) {
	strong.church {
		letter-spacing: -1px;
	}
}

@media (aspect-ratio > 1) {
	div.content {
		.ad {
			font-size: 0.9rem;
		}
		h2.title {
			font-size: 1.2rem;
		}
		h3.subtitle {
			font-size: 0.8rem;
		}
		strong.church {
			font-size: 0.7rem;
		}
		input[type='number'],
		input[type='password'],
		select {
			margin-top: 0.4rem;
			width: 40vmin;
			max-width: 600px;
			min-width: 220px;
		}
		button.buscar {
			font-size: 0.7rem;
			width: fit-content;
			padding: 0 24px;
			margin: 16px auto;
		}
		i.show {
			font-size: 0.6rem;
		}
	}
}
