<div class="content">
    <img class="logo" src="assets/logo.webp">
    <h2 class="title">Banconexión</h2>
    <h3 class="subtitle">Conexión Divina 2024</h3>
    <input type="number" placeholder="Número de Documento">
    <select>
      <option>Tipo de Documento</option>
      <option value="CC">Cédula de Ciudadanía</option>
      <option value="TI">Tarjeta de Identidad</option>
      <option value="CE">Cédula de Extranjería</option>
      <option value="PP">Pasaporte</option>
    </select>
    <button class="buscar">Buscar</button>
    <alert type="warning">Hola mundo</alert>
    <strong class="version">Versión 0.0.0</strong><br>
    <strong class="church">Iglesia Cristiana Cuadrangular</strong>
    <strong class="church">En Espíritu y en Verdad</strong>
</div>