<div class="ad">
	<span>16, 17 y 18 de agosto de 2025</span>
	<span>¡No lo dejes pasar!</span>
</div>
<div class="content">
	<img class="logo" src="assets/logo.webp" />
	<h2 class="title">Banconexión</h2>
	<h3 class="subtitle">Haciendo la voluntad de Dios</h3>
	<select [formControl]="type">
		<option value="">Tipo de Documento</option>
		<option value="CC">Cédula de Ciudadanía</option>
		<option value="TI">Tarjeta de Identidad</option>
		<option value="CE">Cédula de Extranjería</option>
		<option value="PP">Pasaporte</option>
		<option value="RC">Registro Civil</option>
		<option value="PPT">Permiso de Protección Temporal</option>
	</select>
	<input type="number" placeholder="Número de Documento" [formControl]="document" />
	<input *ngIf="enableAdmin" type="password" placeholder="Contraseña" [formControl]="password" />
	<button *ngIf="!enableAdmin" class="actionButton buscar" [disabled]="!enableButton" (click)="login()">
		Ingresar
	</button>
	<button *ngIf="enableAdmin" class="actionButton buscar" [disabled]="!enableButton" (click)="loginAdmin()">
		Ingresar
	</button>
	<strong class="church">Iglesia Cristiana Cuadrangular</strong>
	<strong class="church">En Espíritu y En Verdad</strong>
	<i [ngClass]="{'hide': !showLoadingText, 'show': showLoadingText}">Cargando...</i>
	<div class="version">Versión 2.0.2</div>
</div>
<ion-toast
	position="top"
	swipeGesture="vertical"
	#errorToast
	[message]="alertMessage"
	[duration]="3000"
	icon="close-circle-outline"></ion-toast>
