<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Tarifas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Tarifas</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <div class="card transportCard">
            <img src="assets/img/bus.webp">
            <div class="info">
                <span class="title">Transporte</span>
                <span class="value">{{ fees?.TRANSPORT | currency: "COP":"symbol":"1.0-0" }}</span>
                <p class="desc">Todo niño mayor de 2 años debe ocupar una silla.</p>
            </div>
        </div>
        <div class="card babyCard">
            <img src="assets/img/baby.webp">
            <div class="info">
                <span class="title">Bebés</span>
                <span class="value">{{ fees?.TARIFA_BEBE | currency: "COP":"symbol":"1.0-0" }}</span>
                <p class="desc">Bebés menores de 2 años.</p>
            </div>
        </div>
        <div class="card kidCard">
            <img src="assets/img/kid.webp">
            <div class="info">
                <span class="title">Simiente Preciosa</span>
                <span class="value">{{ fees?.TARIFA_NINO | currency: "COP":"symbol":"1.0-0" }}</span>
                <p class="desc">Niños pequeños entre los 2 y 4 años.</p>
            </div>
        </div>
        <div class="card minorCard">
            <img src="assets/img/minor.webp">
            <div class="info">
                <span class="title">Sembradores y Cosechadores</span>
                <span class="value">{{ fees?.TARIFA_MENOR | currency: "COP":"symbol":"1.0-0" }}</span>
                <p class="desc">Niños entre los 5 y 12 años.</p>
            </div>
        </div>
        <div class="card completeCard">
            <img src="assets/img/adult.webp">
            <div class="info">
                <span class="title">Tarifa Completa</span>
                <span class="value">{{ fees?.TARIFA_COMPLETA | currency: "COP":"symbol":"1.0-0" }}</span>
                <p class="desc">Mayores de 12 años.</p>
            </div>
        </div>
    </div>
</ion-content>