
#container {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;

    div.card{   
        display: grid;
        grid-template-columns: 1fr 4fr;
        box-shadow: 0 0 4px #a0a0a0;
        padding: 12px;
        border-radius: 8px
    }
}