#container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  overflow-y: scroll;
  margin-bottom: 56px;
  .failureCard {
    box-shadow: 0 0 4px #a0a0a0;
    padding: 12px;
    border-radius: 8px;
    .cardHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #f0f0f0;
      .date {
        display: flex;
        flex-direction: column;
        .hour {
          font-family: "InterBold";
          color: #303030;
          margin-top: 4px;
        }
      }
      .id {
        font-size: 1.2rem;
        font-family: "InterThin";
      }
    }
    .cardBody {
      margin: 8px 0;
      // border-bottom: 1px solid #F0F0F0;
    }
    .cardFooter {
      margin-top: 4px;
      display: flex;
      justify-content: space-between;
      .errno {
        font-family: "InterBold";
        color: var(--primary-100);
      }
    }
  }
}
