<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Progreso</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Progreso</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <button class="refresh" (click)="refresh()">
          Actualizar
        </button>
        <div class="card" *ngFor="let card of registros">
            <div class="left">
                <span> {{ card.DOCUMENT_TYPE }} {{ card.DOCUMENT }}</span>
                <span style="font-size: 1.6rem;"> {{ card.NAME }} </span>
                <span> Balance actual: <strong>${{ card.BALANCE | currency:'COP':'symbol':'1.0-0' }}</strong> </span>
                <span> Meta: <strong>{{ 250000   | currency:'COP':'symbol':'1.0-0' }}</strong></span>
                <span> Edad {{ card.AGE }} - {{ card.TRANSPORT === 1 ? "Con Transporte" : "Sin Transporte"}} </span>
            </div>
            <div class="right">
                {{((card.BALANCE || 0) / 250000) | percent: "1.0-0"}}
            </div>
        </div>
    </div>
</ion-content>