<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Sin permisos </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">not-Allowed</ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="text">
        La página a la que intentas acceder sólo esta disponible para administradores o líderes de área, te invitamos a que selecciones una del menu lateral.
    </div>
</ion-content>